@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* ------------------------------------------------------------------------------------------------------------------------------*/
/* -                                                        CATEGORY                                                            -*/
/* ------------------------------------------------------------------------------------------------------------------------------*/

@-moz-document url-prefix(about:addons), url-prefix(about:preferences) {
	

/* CATEGORY */
.category { color: var(--theme-text-disabled) !important; margin-bottom: 4px !important;  }

.category:hover:not([selected]) {  background: var(--theme-gradient-grey) !important;
								   color: var(--theme-text-default) !important;
								   border: 1px var(--theme-outline-selection-box-grey) solid !important;
								   box-shadow: 0 0 1px var(--theme-outline-selection-box-shadow-grey) !important;
								   border-radius: 0.3em !important;
								   margin-bottom: 4px !important; }

#categories richlistitem[selected] { background: var(--theme-gradient-purple) !important;
									 color: var(--theme-text-highlight) !important;
									 filter: brightness(125%) !important;
									 border: 1px solid var(--theme-outline-selection-box-purple) !important;
									 box-shadow: 0 0 1px var(--theme-outline-selection-box-shadow-purple) !important;
									 border-radius: 0.3em !important;
									 margin-bottom: 4px !important; }

.sidebar-footer-button > .text-link:hover{ background: transparent !important; }

.addons-icon {   -moz-context-properties: fill, fill-opacity;
				 list-style-image: url("chrome://mozapps/skin/extensions/category-extensions.svg");
				 width: 14px;
				 height: 14px;
				 margin-inline-start: 15px;
				 fill: var(--theme-hamburger-menu-addons-icon) !important; }

.help-icon {   -moz-context-properties: fill, fill-opacity;
			   list-style-image: url("chrome://mozapps/skin/extensions/category-extensions.svg");
			   width: 14px;
			   height: 14px;
			   margin-inline-start: 15px;
			   fill: var(--theme-hamburger-menu-help-icon) !important; }

.preferences-icon {   -moz-context-properties: fill, fill-opacity;
					 list-style-image: url("chrome://mozapps/skin/extensions/category-extensions.svg");
					 width: 14px;
					 height: 14px;
					 margin-inline-start: 15px;
					 fill: var(--theme-hamburger-menu-preferences-icon) !important; }

}